[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RPesto"]
	path = RPesto
	url = https://github.com/kopperud/rpesto
[submodule "slouch"]
	path = slouch
	url = https://github.com/kopperud/slouch
